
/*----------colours------------*/

/*Primary*/

$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);

/*Neutral*/

$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleBlue: hsl(207, 100%, 98%);


/*-----------font family---------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$Poppins: 'Poppins', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
